.popup__form-name {
    width: 358px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    height: 33px;
}

.popup__form-name:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 465px) {
    .popup__form-name {
        width: 238px;
    }
}