.popup__form_about {}

.popup__about-form:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 465px) {
    .popup__about-form {
        width: 238px;
    }
}
